.catalog-container {
  display: grid;
  grid-gap: 30px;
  width: 80%;
  max-width: 1200px;
  margin: var(--spacing-large) auto;
  }

.catalog-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 20px;
  background-color: white;
  }

.catalog-elements__name {
  color: var(--main-font-color);
  margin-bottom: auto;
  font-size: 18px;
  }

.catalog-elements__price {
  color: var(--main-font-color);
  font-size: 24px;
  font-weight: bold;
  }

.catalog-elements__img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  }

.catalog-elements__add_btn {
  font-family: inherit;
  font-size: inherit;
  margin-top: var(--spacing-small);
  color: white;
  padding: var(--spacing-small) var(--spacing-medium);
  cursor: pointer;
  background: var(--add-btn-gradient);
  }

.catalog-elements__add_btn:hover {
  background: var(--add-btn-hover);
  }

.catalog-elements__btn_active {

  }

.catalog-elements__addToCartBtn {
  font-family: inherit;
  font-size: inherit;
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-small);
  color: var(--main-font-color);
  padding: var(--spacing-small) var(--spacing-medium);
  cursor: pointer;
  background: var(--addToCart-btn-gradient);
  }

.catalog-elements__addToCartBtn:hover {
  background: var(--background-light);
  }

.catalog-elements__addToCartBtn_active {

  }